@tailwind utilities;
@import "tailwindcss";
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222227;
}

::-webkit-scrollbar-thumb {
  background: #bb8c4b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}
